* {
	font-style: italic;
	text-align: center;
}
body {
	background-image: url(nvp.jpg);
	background-size: cover; 
}
h1 {
	color: green;
	text-align: center;
}
img {
	float: left;
}
p {
	background-color: lightblue;
	font-style: oblique;
	font-family: "Bradley Hand ITC";
	font-size: 180%;
	border: solid;
	text-transform: uppercase;
}
span {
	font-size: 2em;
}
ol {
	border: dashed;
}
li {
    color: yellow;
}

